* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #b00000;
  --text-color-1: #000000;
  --text-color-2: #2e2e2e;
  --text-color-3: #18191f;
  --text-color-4: #18191f;

  --gray-color-1: #808080;
  --gray-color-2: #d6d4d4;
  --gray-color-3: #e5e5e5;

  --white-color: #ffffff;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1266px;
  margin: 0 auto;
}

.center {
  text-align: center;
}

/* Header section */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.header .header-logo {
  display: flex;
  align-items: center;
}

.header .header-logo img {
  width: 74px;
  height: auto;
  margin-right: 72px;
}

.header .header-logo span {
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--primary-color);
}

.header .header-nav ul {
  display: flex;
  align-items: center;
  gap: 36px;
  list-style: none;
}

.header-nav-item a {
  color: var(--text-color-1);
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  text-decoration: none;
}

.header-contact {
  display: flex;
  align-items: center;
}

.header-contact-account {
  color: var(--text-color-1);
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  padding-right: 34px;
  border-right: 1px solid var(--gray-color-1);
}

.header-contact-phone {
  margin-left: 34px;
  color: var(--primary-color);
  margin-right: 8px;
}

.header-contact-phone span {
  color: var(--text-color-1);
}

/* Hero section */
.hero {
  padding-top: 72px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
  margin-bottom: 78px;
}

.hero .hero-info {
  width: 50%;
}

.hero-info-services {
  margin-bottom: 26px;
  display: inline-flex;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--gray-color-3);
}

.hero-info-services p {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: var(--gray-color-2);
}

.hero-info-services p.active {
  color: var(--primary-color);
  padding-bottom: 4px;
  position: relative;
}

.hero-info-services p.active::after {
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  background: var(--primary-color);
}

.hero-info-services p:not(:last-child) {
  margin-right: 24px;
}

.hero-title {
  font-weight: 700;
  font-size: 64px;
  line-height: 78px;
  color: var(--text-color-2);
  margin-bottom: 34px;
}

.hero-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  margin-bottom: 60px;
  color: var(--gray-color-1);
  width: 74%;
}

.hero-cta {
  display: flex;
  gap: 24px;
  align-items: center;
}

.button {
  padding: 12px;
  border: none;
  outline: none;
  text-align: center;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s;
}

.button:hover {
  transform: scale(1.1);
}

.button-primary {
  background: var(--primary-color);
  color: var(--white-color);
  box-shadow: 0px 0px 64px rgba(176, 0, 0, 0.3);
}

.button-secondary {
  border: 1px solid var(--text-color-1);
  color: var(--text-color-1);
  background: var(--white-color);
}

.hero .hero-image {
  width: 50%;
  position: relative;
}

.hero .hero-image img {
  width: 522px;
  object-fit: cover;
  height: auto;
  padding-left: 60px;
}

.hero-triangle-1,
.hero-triangle-2,
.hero-triangle-3 {
  position: absolute;
}

.hero-triangle-1 {
  bottom: 161px;
  left: 33px;
  border-right: 20px solid transparent;
  border-top: 20px solid transparent;
  border-bottom: 20px solid var(--primary-color);
  border-left: 20px solid var(--primary-color);
}

.hero-triangle-2 {
  top: 0;
  left: 512px;
  border-left: 20px solid transparent;
  border-top: 20px solid transparent;
  border-bottom: 20px solid var(--primary-color);
  border-right: 20px solid var(--primary-color);
}

.hero-triangle-3 {
  bottom: 41px;
  left: 512px;
  border-left: 20px solid transparent;
  border-top: 20px solid transparent;
  border-bottom: 20px solid var(--primary-color);
  border-right: 20px solid var(--primary-color);
}

.up-down {
  animation: up-down linear 2s;
  animation-iteration-count: infinite;
  transform-origin: 50% 50%;
}

@keyframes up-down {
  0% {
    transform: translate(1px, 20px);
  }

  24% {
    transform: translate(1px, 30px);
  }

  50% {
    transform: translate(1px, 12px);
  }

  74% {
    transform: translate(1px, 22px);
  }

  100% {
    transform: translate(1px, 22px);
  }
}

/* Section partner */
.partner {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  margin-bottom: 54px;
}

.partner h2 {
  margin-bottom: 32px;
  font-weight: 800;
  font-size: 48px;
  color: var(--text-color-3);
}

.partner p {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: var(--text-color-3);
}

.partner-info {
  width: 50%;
}

.partner-images {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.partner-image {
  width: calc(100% / 3);
  padding: 32px;
}

.partner-image img {
  width: 100%;
  object-fit: cover;
  height: auto;
}

/* Benefit section */
.benefit {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 54px;
  margin-bottom: 64px;
}

.benefit-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.benefit-item-img {
  width: 100px;
  height: 100px;
  line-height: 100px;
  color: var(--primary-color);
  font-size: 32px;
  text-align: center;
  border-radius: 50%;
  background: rgba(176, 0, 0, 0.15);
  margin-bottom: 20px;
}

.benefit-item-title {
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: var(--text-color-1);
}

.benefit-item-desc {
  font-weight: 300;
  font-size: 12px;
  line-height: 18px;
  color: var(--text-color-1);
}

.testimonials-container {
  max-width: 1015px;
  margin: 0 auto;
  position: relative;
}

section#testimonials {
  position: relative;
  width: 100%;
  height: 752px;
}

.test-header {
  max-width: 43%;
}

.test-header img {
  position: absolute;
  top: -55px;
  left: -95px;
}

.test-header .test-title {
  font-weight: 800;
  font-size: 48px;
  line-height: 64px;
  color: var(--text-color-4);
  margin-bottom: 8px;
}

.test-header p {
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: var(--text-color-4);
}

.test-content-item {
  position: absolute;
  max-width: 350px;
  background: var(--white-color);
  box-shadow: 0px 10px 20px rgba(41, 41, 42, 0.07);
  border-radius: 8px;
  padding: 32px;
}

.test-content .test-content-item:nth-child(1) {
  top: 248px;
  left: calc(50% - 362px);
}

.test-content .test-content-item:nth-child(2) {
  max-width: 445px;
  left: calc(50% + 12px);
  top: 104px;
}

.test-content .test-content-item:nth-child(3) {
  top: 290px;
  left: calc(50% + 12px);
}

/* Plan Customize */
#plan {
  margin-bottom: 100px;
}

#plan .plan-title {
  font-size: 50px;
  line-height: 60px;
}

#plan .plan-header p {
  font-size: 25px;
  line-height: 25px;
  margin-top: 35px;
}

#plan .plan-content-time {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 57px;
}

#plan .plan-content-button {
  position: relative;
  top: 0;
  left: 0;
  height: 50px;
}

#plan .plan-content-month {
  margin-right: 31px;
}

#plan .plan-content-year {
  margin-left: 26px;
}

.plan-content-button-switch-2 {
  position: absolute;
  top: 10px;
  left: 9px;
  z-index: 2;
}

.plan-content-year span {
  background: #FFE87A;
  border-radius: 8px;
  margin-left: 16px;
  padding: 8px 7px;
  font-size: 10px;
  line-height: 9px;
}

#plan .plan-choose-type {
  display: flex;
  border-bottom: 4px solid var(--gray-color-3);
  justify-content: center;
  max-width: 865px;
  margin: 0 auto;
  margin-top: 70px;
}

#plan .plan-choose-type p {
  font-weight: 600;
  font-size: 15px;
  line-height: 22px;
  color: #000000;
  width: 50%;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
}

#plan .plan-choose-type p:not(:last-child) {
  margin-right: 24px;
}

#plan .plan-choose-type p.active {
  padding-bottom: 4px;
  position: relative;
}

#plan .plan-choose-type p.active::after {
  position: absolute;
  content: "";
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 4px;
  background: var(--primary-color);
}

#plan .plan-container-type {
  margin: 0 auto;
  padding-top: 85px;
  display: flex;
  justify-content: space-between;
}

#plan .plan-container-type .plan-box-type {
  background: #FFFFFF;
  border: 1.5px solid #C4C4C4;
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  width: 299px;
  padding: 34px;
}

#plan .plan-container-type .plan-box-type .title {
  font-weight: 600;
  font-size: 28px;
  line-height: 25px;
  margin-bottom: 11px;
}

#plan .plan-container-type .plan-box-type .short-description {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

#plan .plan-container-type .plan-box-type .price {
  font-weight: 600;
  font-size: 42px;
  line-height: 32px;
  margin-top: 28px;
  margin-bottom: 10px;
}

#plan .plan-container-type .plan-box-type .unit {
  font-weight: 300;
  font-size: 14px;
  line-height: 14px;
}

#plan .plan-container-type .plan-box-type .btn-choose-plan {
  background: #FFFFFF;
  border: 2px solid #000000;
  border-radius: 12px;
  width: 100%;
  margin: 35px 0px;
}

#plan .plan-container-type .plan-box-type ul {
  margin-left: 22px;
}

#plan .plan-container-type .plan-box-type ul li {
  list-style-image: url('images/checkmark.png');
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #808080;
  margin-bottom: 15px;
  padding-left: 27px;
}


/* Footer */

#footer-section {
  display: flex;
  align-items: flex-start;
  padding: 64px 104px;
  flex-direction: column;
  background: #B00000;
  color: #E6E6E6;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.footer {
  display: flex;
  margin: 0;
  align-items: center;
  justify-content: space-between;
}

.footer-content-item .footer-content-one-info p {
  margin-bottom: 24px;
  font-weight: 400;
}

.footer-content-item p {
  margin-bottom: 24px;
  font-weight: 700;
}

.footer-content-item ul li:not(:last-child) {
  margin-bottom: 24px;
}

.footer-content-item ul li {
  list-style-type: none;
}

.footer-content-item ul li a {
  color: #E6E6E6;
  text-decoration: unset;
}

.footer-content-item:not(:last-child) {
  margin-right: 5%;
}

.footer-content-item.item-one {
  width: 40%;
}

.footer-content-item.item-two {
  width: 15%;
}

section.copyright {
  margin: 96px 0px 16px 0px;
}

.footer .footer-logo img {
  width: 74px;
  height: auto;
  font-size: 15px;
  font-weight: 600;
  line-height: 22px;
  padding-bottom: 4px;
  border-bottom: 1px solid var(--primary-color);
}

.footer-content {
  display: flex;
}

.footers a {
  color: #696969;
}

.footers p {
  color: #696969;
}

.footers ul {
  line-height: 30px;
}

/* <= 992px ipad air, ipad pro*/
@media screen and (max-width: 1024px) {}

/* <= 992px mobile: samsung iphone*/
@media screen and (max-width: 769px) {}